* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 100%;
    height: 600px;
    border-bottom: 15px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.time-container {
    background-color: black;
    color: white;
    width: 150px;
    text-align: center;
    padding: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 15px;
    font-size: 1.5rem;
    border: 3px rgb(255, 255, 255) solid;
    z-index: 4;
}

.container-game-start {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 5;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
    transition: .7s ease-in-out;
}

.container-game-start.started { transform: translateY(-400px); }

.start-btn {
    padding: .5rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    box-shadow: 2px 2px 1px 2px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.start-btn:is(:hover, :focus-visible) { transform: translateY(-3px) }

.pipe {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 0;  
    right: -60px;
}

.pipe.started {
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    position: absolute;
    width: 150px;
    bottom: 0;
    z-index: 3;
}

.clouds {
    position: absolute;
    width: 500px;
    z-index: 1;
    top: 100px;
    right: -450px;
}

.clouds.started {
    animation: clouds-animation 20s infinite linear;
}

.jump {
    animation: jump .5s ease-in-out;
}

@keyframes pipe-animation {
    from { right: -80px; }

    to { right: 100%; }
}

@keyframes jump {
    0% { bottom: 0; }

    40% { bottom: 180px; }

    50% { bottom: 180px; }

    60% { bottom: 180px; }

    100% { bottom: 0; }
}

@keyframes clouds-animation {
    from { right: -500px; }
    to { right: 100%; }
}